.u-section-1 {
  min-height: 978px;
}

.u-section-1 .u-image-1 {
  height: 890px;
  object-position: 14.52% 50%;
  margin-top: 90px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-shape-1 {
  width: 709px;
  height: 412px;
  margin: -777px calc(((100% - 1140px) / 2) + 108px) 0 403px;
}

.u-section-1 .u-shape-2 {
  width: 1230px;
  height: 322px;
  margin: 31px auto 0 20px;
}

.u-section-1 .u-shape-3 {
  width: calc(((100% - 1140px) / 2) + 184px);
  height: 217px;
  margin: -525px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: 231px;
  }

  .u-section-1 .u-shape-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    width: calc(((100% - 940px) / 2) + 184px);
    margin-top: -463px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    object-position: 53.75% 50%;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: 11px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
  }

  .u-section-1 .u-shape-3 {
    width: calc(((100% - 720px) / 2) + 184px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
  }

  .u-section-1 .u-shape-3 {
    width: calc(((100% - 540px) / 2) + 184px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-shape-3 {
    width: calc(((100% - 340px) / 2) + 184px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1139px;
}

.u-section-2 .u-image-1 {
  width: 776px;
  height: 634px;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 310px;
  height: 374px;
  margin: -627px auto 0 319px;
}

.u-section-2 .u-shape-2 {
  width: 221px;
  height: 208px;
  margin: 11px auto 0 319px;
}

.u-section-2 .u-shape-3 {
  width: 290px;
  height: 208px;
  margin: -593px auto 0 640px;
}

.u-section-2 .u-shape-4 {
  width: 298px;
  height: 168px;
  margin: -2px auto 0 640px;
}

.u-section-2 .u-shape-5 {
  width: 196px;
  height: 123px;
  margin: 11px 404px 0 auto;
}

.u-section-2 .u-shape-6 {
  width: 196px;
  height: 123px;
  margin: -123px 194px 0 auto;
}

.u-section-2 .u-shape-7 {
  width: 70px;
  height: 86px;
  margin: 14px 519px 0 auto;
}

.u-section-2 .u-shape-8 {
  width: 124px;
  height: 315px;
  margin: -590px auto 60px 195px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 588px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -581px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 430px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 441px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -434px;
    margin-left: 230px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 230px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 250px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 250px;
  }

  .u-section-2 .u-shape-5 {
    margin-right: 344px;
  }

  .u-section-2 .u-shape-7 {
    margin-right: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 278px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -271px;
    margin-left: 30px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 30px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 50px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 50px;
  }

  .u-section-2 .u-shape-5 {
    margin-right: 144px;
  }

  .u-section-2 .u-shape-6 {
    margin-right: 144px;
  }

  .u-section-2 .u-shape-7 {
    margin-right: 270px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}